@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<div class="row">
  <div class="col-sm-6">
    <h1>Flavor Profile</h1>
    <h3>Name: @Html.DisplayFor(model => model.Name)</h3>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
    <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
    <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
    }
  </div>
  <div class="col-sm-6">
    <h1>Treats with this Flavor Profile:</h1>
    <ul>
      @if (@Model.Treats.Count == 0)
      {
        <h3>No treats match this flavor profile. Add one with the button below!</h3>
      }
      @foreach(var join in Model.Treats)
      {
        <li>@Html.ActionLink($"{@join.Treat.Name}", "Details", "Treats", new { id = join.TreatId } )</li>
      }
    </ul>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
    <p>@Html.ActionLink("Add a treat", "AddTreat", new { id = Model.FlavorId })</p>
    }
  </div>
</div>
