@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<div class="row">
  <div class="col-sm-6">
    <h1>Flavor Profile</h1>
    <h3>Name: @Html.DisplayFor(model => model.Name)</h3>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
    <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.FlavorId })</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = Model.FlavorId })</button>
    }
  </div>
  <div class="col-sm-6">
    <h1>Baked Goods with this Flavor Profile:</h1>
    <ul>
      @if (@Model.Treats.Count == 0)
      {
        <h3>No treats match this flavor profile. If you are the entry's author, add one with the button below!</h3>
      }
      @foreach(var join in Model.Treats)
      {
        <li>@Html.ActionLink($"{@join.Treat.Name}", "Details", "Treats", new { id = join.TreatId } )</li>
        @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
        {
          @using (Html.BeginForm("RemoveTreat", "Flavors"))
          {
            @Html.Hidden("joinId", @join.TreatFlavorId)
            <button class="btn btn-default" type="submit">Remove</button>
          }
        }
      }
    </ul>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
    <button type="button" class="btn btn-default">@Html.ActionLink("Add a treat", "AddTreat", new { id = Model.FlavorId })</button>
    }
  </div>
</div>
